html{
	scroll-behavior: smooth;}

.gradiente{
	background-image: linear-gradient(to right,#FF0000, #F8F8FF)
}
#Sobre{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#titulos {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#titulos h2{
	margin-top: 20px;
}
#hino {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#hino h3 {
	margin-top: 10px;
	font-size: 53px;
	text-align: center;
}
/*
  contato
  */
  #Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #CAE1FF;
    width: 100%;
  }
  #Contato h2{
    margin-left: 20px;
    margin-width:20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: #4169E1;
  }
  #Contato > p{
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #4169E1;
    text-align: center;
  }
  #Contato a{
    text-decoration: none;
    color: #4169E1;
    font-family: "Gochi Hand","Helvetica","Arial", sans-serif;
    text-align: center;
  }
  }

#contato img{
  width: 10%;
}